<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View 1</title>
  </head>
  <body>
    <h1 data-th-text="${styleName}"></h1>
    <form method="GET" action="/">
      <button type="submit">Back</button>
    </form>
    <h3 data-th-unless="${beersFound}">No beers found for this style</h3>
    <table data-th-if="${beersFound}" data-th-object="${beers}" border="solid">
      <tr>
        <th>Beer Name</th>
        <th>Description</th>
        <th>Brewery Name</th>
      </tr>
      <tr data-th-each="b : ${beers}" data-th-object="${b}">
        <td><span data-th-text="*{beerName}"></span></td>
        <td><span data-th-text="*{beerDescription}"></span></td>
        <td>
          <a
            data-th-href="@{/beer/brewery/{id}?breweryName={breweryName}(id=*{breweryId}, breweryName=*{breweryName})}"
          >
            <span data-th-text="*{breweryName}"></span>
          </a>
        </td>
      </tr>
    </table>
  </body>
</html>
