<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View 2</title>
  </head>
  <body>
    <h1 data-th-text="${breweryName}"></h1>
    <form method="GET" action="/">
      <button type="submit">Back</button>
    </form>
    <br />
    <div data-th-if="${breweryExists}">
      <div>
        <table data-th-object="${brewery}">
          <tr>
            <td>Description:</td>
            <td><span data-th-text="*{description}"></span></td>
          </tr>
          <tr>
            <td>Address:</td>
            <td>
              <span data-th-text="*{address1}"></span>
              <span data-th-text="*{address2}"></span>
              <br />
              <span data-th-text="*{city}"></span>
            </td>
          </tr>
          <tr>
            <td>Phone:</td>
            <td><span data-th-text="*{phone}"></span></td>
          </tr>
          <tr>
            <td>Website:</td>
            <td>
              <a data-th-href="@{*{website}}" data-th-target="_blank">
                <span>Go</span>
              </a>
            </td>
          </tr>
        </table>
      </div>
      <div>
        <h3>Beers</h3>
        <form
          method="POST"
          data-th-action="@{/brewery/{breweryId}/order(breweryId=${brewery.breweryId})}"
        >
          <button type="submit">Place Order</button>
          <table border="solid">
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Quantity</th>
            </tr>
            <tr
              data-th-each="beer, itemStat:${brewery.beers}"
              data-th-object="${submitOrder}"
            >
              <td>
                <span
                  data-th-text="${beer.beerName}"
                  data-th-value="${beer.beerId}"
                  data-th-field="*{orders[__${itemStat.index}__].beerId}"
                ></span>
              </td>
              <td><span data-th-text="${beer.beerDescription}"></span></td>
              <td>
                <input
                  type="number"
                  min="0"
                  data-th-field="*{orders[__${itemStat.index}__].quantity}"
                  required
                />
              </td>
            </tr>
          </table>
        </form>
      </div>
    </div>
  </body>
</html>
